<ul class="sessions-list">
  <h1 class="title">MY FAVORITE SESSIONS</h1>
  <% @sessions.each do |session| %>
    <li class="sessions-list-item">
      <h3><%= session.band %></h3>
      <%= link_to 'X', toggle_favorite_session_path(session), remote: true, method: :post  %>
    </li>
  <% end %>
</ul>

