<div class="ui container mypeels">
  <ul class="sessions-list">
    <% @sessions.each do |session| %>
    <li>
      <h3><%= session.band %></h3>
      <%= link_to "unlike", toggle_favorite_session_path(session), remote: true, method: :post %>
    </li>
    <% end %>
  </ul>
</div>
