<div class="ui menu footer">
    <div class="item aligned left">
    <%= link_to life_path do %>
      <div class="header item ">
        John Peel
      </div>
    <% end %>
    <%= link_to life_path do %>
      <div class="header item ">
        My Radio
      </div>
    <% end %>
    <%= link_to explore_path do %>
      <div class="header item ">
        Explore
      </div>
    <% end %>

  </div>
  <div class="header item aligned right brand">
    <%= link_to root_path do %>
    <div class="btn-home">

      <div class="btn-ghost-left">PEELS</div>
      <div class="btn-ghost-right">RADIO</div>

    </div>
    <% end %>
  </div>


</div>
