<div class="ui middle aligned selection list footlist">
  <div class="item">
    <%= link_to root_path do %>
    <div class="btn-home">
      <div class="btn-ghost-left">PEELS</div>
      <div class="btn-ghost-right">RADIO</div>
    </div>
    <% end %>
  </div>
  <div class="item">
    <div class="content">
      <div class="header">John Peel</div>
    </div>
  </div>
  <div class="item">
    <div class="content">
      <div class="header">Explore</div>
    </div>
  </div>
  <div class="item">
    <div class="content">
      <div class="header">Credits</div>
    </div>
  </div>
  <div class="item">
    <div class="content">
      <div class="header">Contact</div>
    </div>
  </div>
</div>
