<div class="ui menu navbar">
  <div class="header item brand">
    <%= link_to root_path do %>
    <div class="btn-home">

      <div class="btn-ghost-left">PEELS</div>
      <div class="btn-ghost-right">RADIO</div>

    </div>
    <% end %>
  </div>
  <div class="item aligned right">
    <%= link_to life_path do %>
      <div class="header item ">
        Life
      </div>
    <% end %>
    <%= link_to selected_path do %>
    <div class="header item ">
      Selected sessions
    </div>
    <% end %>
    <div class="header item ">
      Log in
    </div>
  </div>
</div>
