<div class="ui menu navbar">
  <div class="header item brand">
    <%= link_to root_path do %>
    <div class="btn-home">

      <div class="btn-ghost-left">PEELS</div>
      <div class="btn-ghost-right">RADIO</div>

    </div>
    <% end %>
  </div>
  <div class="item aligned right">
    <%= link_to life_path do %>
      <div class="header item ">
        John Peel
      </div>
    <% end %>
    <%= link_to timeline_path do %>
      <div class="header item ">
        Timeline
      </div>
    <% end %>
    <%= link_to sessions_path do %>
    <div class="header item ">
      All sessions
    </div>
    <% end %>
  </div>
</div>
