<div class="ui container fluid ">
  <div class="ui fluid banner">
    <div class="ui container pitch right aligned">
      <h1><strong>Early recordings</strong><br> by the <strong> greatest bands</strong></h1>
      <h3>As featured on John Peel's radio show<br>from 1967 to 2004</h3>
    </div>
    <%= link_to explore_path do %>
      <div class="button--moema">Explore</div>
    <% end %>
  </div>
</div>



<div class="ui container">
  <div class="ui header center aligned text feats">
      <h2>Original Studio sessions</h2>
      <h3>Over 1000 + recorded sessions spanning all genres from blues and punk-rock to reggae, new wave and electronic music. Featuring rare studio sessions by Bob Marley & The Wailers, David Bowie and the Spiders from Mars, Joy Division, Pet Shop Boys, The Fugees, Queen and many more
      </h3>
  </div>
</div>
