/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "semantic-ui";
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&display=swap');

body {
  background: #06091a;
}

.tagslist {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  color: #fff !important;

  padding-left: 1em !important;
  margin-right: 6px !important;
  font-family: "Dosis", sans-serif;
  font-weight: 200;
  padding-left: 3em;
}

.tagslist .tag-item {
  margin-right: 10px !important;
  font-size: 2em !important;
}

.title-header {
  font-family: 'Rubik Mono One', sans-serif !important;
}

.title-light {
  font-family: 'Dosis', sans-serif !important;
  font-weight: 200;
  display: block;
}

.footlist {
  padding: 2em !important;
  font-size: 1.1em !important;
}

.footlist .btn-home {
  width: 20%;
  margin: 0 auto;
}

a:hover img {
  transform: scale(1.02);
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}

.title-header {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}


.genre-cont{
  position: relative !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui img {
 background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}

i.inverted.circular.teal.icon {
    background-color: #31313175 !important;
    margin: 0 auto !important;
    color: #FFFFFF !important;
    font-size: 2em !important;
    margin-bottom: 1em !important;
}

.genre-cont .genre-name {
  position: absolute !important;
  margin: auto;
  color: #fff !important;
  line-height: 1em !important;
  font-size: 2em !important;
  transform: rotate3d(1, 1, 1, -6deg);
  font-weight: 700;
  &:hover{
    transform: rotate3d(1, 1, 1, 0deg);
  }
}


// NAVBAR

.navbar {
  background: black !important;
    font-family: 'Dosis', sans-serif !important;
  font-weight: 200;
}

.navbar .item {
  color: #167cbc !important;
  font-size: 1.12em !important;
}

.navbar .item:hover {
  color: blue !important;
}

.login-btn {
  border: 1px solid #fff;
  padding: 2px;
  border-radius: 50%;
}

.btn-home {
  display: flex;
  justify-content: space-around;
}

// NAVBAR BUTTONS

.btn-ghost-left {
  color: #fff;
  border: 2px solid #d5d3d3;
  font-style: italic;
  padding: 8px 24px;
  border-radius: 20px 0% 0% 20px;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-ghost-left:hover {
  border: 2px solid blue;
}
.btn-ghost-right {
  color: #7f7777;
  margin-left: -50px;
  border: 2px solid #d5d3d3;
  padding: 8px 24px;
  border-radius: 0px 20px 20px 0px;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

// FOOTER

.footer {
  min-height: 30vh !important;
  margin-top: 5em !important;
  background: black !important;
  padding: 1em !important;
}

.card {
  margin-bottom: 2em !important;
}

// USER REGISTRATION
.container .title {
  color: #fff;
  font-size: 24px;
  padding: 1em;
}

.form-container {
  background: blue;
  width: 70% !important;
  display: flex;
  height: 80vh !important;
  justify-content: space-around;
  align-items: center;
  background: url("https://www.dubstudio.co.uk/dubplates/images/stories/studio/lathe.png") no-repeat !important;
}

.new_user {
  padding: 4em !important;
  background: #00010114 !important;
  height: 100% !important;
    border-radius: 8px;
    padding: 1em;
        flex-direction: column;
    justify-content: flex-end;
    margin-top: 1em;
}

.new_user .field {
  color: #ffffff;
  font-size: 1.1em;
  padding-left: 10px;
  width: 100%;
  font-weight: 700;
  margin-bottom: 1em;
}


.field {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100 !important;
  margin-bottom: 1em;
}

.field label {
  flex: 1 1 20%;
}

.field input {
  flex: 1 1 80%;
}

.field .checkbox {
  flex: 1 1 5%;
  margin-right: 16px;
}

.field .labelds {
  flex: 1 1 95%;
  margin-left: 4px;
}

.new_user input {
  background: #3f3f3f;
  width: 100%;
  height: 50px;
  border-radius: 12px;
}


.new_user .actions input {
  color: blue;
  width: 50%;
  background: #48da48a1;
  font-size: 20px;
    font-weight: bold;
}



.ftt {
  width: 100% !important;
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
  color: #fff !important;
}


#player {
      clip-path: polygon(0 88%, 100% 88%, 100% 100%, 0% 100%);
}

// NAVBAR DROPDOWN


ul {
  background: #ff8c0000;
  list-style: none;
  margin: 0;
  padding-left: 0;
  width: 7em;
}

li {
  color: #fff;
  background: #41403f;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: #fff;
}

li:hover,
li:focus-within {
  background: #3e45a4;
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: transparent;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block
}

ul li ul li {
  clear: both;
  width: 100%;
}

// REACT PLAYER

.react-player__preview {
  margin-top: 12em;
}


// MEDIA QUERIES MOBILE


@media only screen and (max-width: 991px) {

  .links {
    padding: 2em;
    font-size: 2em;
    text-align: center;
    font-family: 'Dosis', sans-serif !important;
  }

  .form-container {
    background: blue;
    width: 70% !important;
    position: relative;
    height: 70% !important;

  }

  .form-container .new-user {
    position: absolute;
    top: 70%;
    left: 10%;
  }


  .new_user {
    padding: 4em !important;
    background: #00010100 !important;
    height: 100% !important;
      border-radius: 8px;
      padding: 1em;
  display: flex;
      flex-direction: column !important;
      justify-content: flex-end !important;
      margin-top: 1em;
  }

  .new_user .field {
  color: #ffffff;
      font-size: 2em;
      padding-left: 10px;
      width: 100%;
      font-weight: 700;
      margin-bottom: 1em;
  }

  .new-user .actions {
    color: red;
  }

  .field {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100 !important;
    margin-bottom: 1em;
  }

  .field label {
    flex: 1 1 20%;
    font-weight: 100;
    margin-right: 20px;
  }

  .field input {
    flex: 1 1 80%;
  }

  .field .checkbox {
    flex: 1 1 5%;
  }

  .field .labelds {
    flex: 1 1 95%;
  }

  .new_user input {
background: #ffffff;
    width: 100%;
    height: 50px;
    font-size: 2em;
    padding-left: 16px;
    /* margin-left: 12px; */
    border-radius: 12px;
  }

  .new_user .actions input {
    color: #fff;
    width: 100%;
    font-size: 20px;
  }

  .session-player {
    display: flex !important;
    border: 6px solid #454343;
    flex-direction: column !important;
    margin-top: 60% !important;
    margin-bottom: 2em;
    /* transform: rotate(0deg) !important; */
    clip-path: polygon(0 31%, 100% 9%, 100% 100%, 0% 100%) !important;
    i {
      margin: 0 auto !important;
    }
  }

  .session-player i .icon {
    color: red !important;
  }

i.inverted.circular.teal.icon {
    background-color: #31313175 !important;
    margin: 0 auto !important;
    color: #FFFFFF !important;
    font-size: 2em !important;
    margin-bottom: 1em !important;
}

  .react-player__preview {
    margin-top: 0em;
    height: 60vh !important;
    position: relative !important;
  }
  .react-player__shadow {
    // background: radial-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.64) 60%);
    border-radius: 24px;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    transform: rotateZ(135deg);
    width: 120px !important;
    height: 120px !important;
    position: absolute;
    bottom: 9em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .react-player__play-icon {
    position: absolute !important;
    bottom: 0;
    left: 0;
    border-style: solid;
    // border-width: 50px 50px 50px 50px !important;
    // border-color: #38b33e #2b8afbf2 #3bc928db #4CAF50 !important;
    // transform: rotateZ(90deg) !important;
  }
  h1 {
    font-size: 3em !important;
  }
  .ytp-title-channel-logo {
    border-radius: 50%;
    opacity: 0 !important;
    visibility: hidden !important;
    flex-shrink: 0;
    margin: 5px;
  }
  .ytp-title-beacon {
    border-radius: 25px;
    display: none !important;
    position: absolute;
    z-index: -1;
    -moz-animation: ytp-title-beacon-pulse 2s 5;
    -webkit-animation: ytp-title-beacon-pulse 2s 5;
    animation: ytp-title-beacon-pulse 2s 5;
  }
}



