// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.lifepics {
  margin-top: 2em !important;
}


.lifepics img {
  max-height: 240px !important;
  width: 100%;
}
