// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.sessions {
  color: #fff;
}

a, .header {
  color: #fff !important;
}

.session-list-card {
  padding: 1em !important;
}


.sessions .listitem {
  margin-bottom: 2em !important;
  border-bottom: 2px solid green !important;
}


.ytp-cued-thumbnail-overlay-image {
  background-image: none !important;
}
