// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.sessions {
  color: #fff;
  background: #181818 !important;
}

a, .header {
  color: #fff !important;
}

.session-list-card {
  padding: 1em !important;
}


.sessions .listitem {
  margin-bottom: 2em !important;
  border-bottom: 2px solid green !important;
}


.session {
  padding: 1em !important;
  background: #2d2b2bab !important;
  border-bottom: 2px solid #fff;
  margin-bottom: 1em !important;
  height: 10vh !important;
}

.session h3 {
  font-size: 1.8em !important;
}

.session h5 {
  font-size: 1.6em !important;
}
