// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.avatar {
  width: 100px !important;
  height: 100px !important;
}

.session-player {
  border-radius: 22px !important;
}

.react-pl {
  // clip-path: polygon(0 75%, 100% 75%, 100% 50%, 100% 100%, 0% 100%) !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.react-pl i {
  margin: 0 auto !important;
}

.sessions {
  color: #fff;
  background: #181818 !important;
}

.sessions-list {
  padding-top: 5em !important;
}

a, .header {
  color: #fff !important;
}

.session-list-card {
  padding: 1em !important;
}


.sessions .listitem {
  margin-bottom: 2em !important;
  border-bottom: 2px solid green !important;
}


.session {
padding: 0em !important;
    background: #2d2b2bab !important;
    border-bottom: 2px solid #30b5a5;
    margin-bottom: 3em !important;
    /* min-height: 330px !important; */
    position: relative;
    height: 25vh;
}

.session img {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}

.session .name {
  position: absolute !important;
  top: 0em !important;
  /* border-radius: 12px; */
  width: 100% !important;
  background: #1c1a1a9c;
  padding: 1em;
  color: #ffffffcf !important;
  left: 0em !important;
}

.session .year{
  position: absolute !important;
  top: 1em !important;
  right: 1em !important;
}

.session .like {
  position: absolute !important;
  bottom: 1em !important;
  right: 1em !important;
  color: #00b5adcc !important;
}


.session .like {
  position: absolute !important;
  bottom: 1em !important;
  right: 1em !important;
  font-size: 1.5em !important;
}


.session h3 {
  font-size: 1.8em !important;
}

.session h5 {
  font-size: 1.6em !important;
}
