// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;500&display=swap');

strong {
  color: #30ffe6;
}

// BANNER
.banner {
  background-size: cover;
  background-position: unset;
  padding: 150px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('john-peel-at-desk.jpg') !important;
}

.banner h1 {
  margin: 0;
  color: #cfcfcf;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner h3 {
  margin: 0;
  color: #9b9b9b;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  font-size: 2em;
  margin-top: 15px;
  font-weight: bold;
}

.banner a .button--moema {
  text-align: center;
}

@media only screen and (min-width: 991px) {
  .button--moema {
    max-width: 150px;
  }
}


@media only screen and (max-width: 991px) and (min-width: 768px) {
  .banner {
    height: 80vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    animation: cam ease-in-out 2s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes cam {
    0% {
      background-position-x: 0px;
    }
    100% {
      background-position-x: -1500px;
    }
  }
  .ui.container.banner .pitch {
    margin-top: 2em;
    font-size: 18px !important;
  }
  .ui.container.banner .link {
    margin-top: 4em;
    position: absolute;
    bottom: 18%;
  }
  .banner a {
    font-size: 1.22em;
  }
  a {
    font-size: 1.2em;
  }
  .button--moema {
    text-align: center;
    padding: 5.5em 3em;
    margin: 0 auto;
    border-radius: 50px;
    color: #0affc0;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
  }
  .btn-ghost {
    border: 4px solid #2351de !important;
    padding: 30px 24px !important;
  }
  .banner h1 {
    font-size: 4em;
  }


}

// BUTTON
.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

// BUTTON MOEMA

.button--moema {
  padding: 1.5em 3em;
  margin: 0 auto;
  border-radius: 50px;
  background: #3049cf;
  color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  animation: fadein 3s;
}
@keyframes fadein {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 0.2;
    }
    100%  {
      opacity: 1;
    }
}
.button--moema.button--inverted {
  background: #ECEFF1;
  color: #37474f;
}
.button--moema::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  // background: inherit;
  border-radius: 50px;
  // z-index: -1;
  // opacity: 0.4;
  // -webkit-transform: scale3d(0.8, 0.5, 1);
  // transform: scale3d(0.8, 0.5, 1);
}
.button--moema:hover {
  -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  color: #ECEFF1;
  background-color: #2b41b3;
  -webkit-animation: anim-moema-1 0.3s forwards;
  animation: anim-moema-1 0.3s forwards;
}
.button--moema.button--inverted:hover {
  color: #ECEFF1;
  background-color: #7986cb;
}
.button--moema:hover::before {
  -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
  animation: anim-moema-2 0.3s 0.3s forwards;
}





// FEATURINGS SECTION
.feats {
  margin: 2em !important;
  padding-top: 2em !important;
  color: #fff !important;
}

.card .image {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
  position: relative;
}

.card .image .content {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  font-size: 1.5em;
  background: black;
  padding: 2em;
  opacity: 0.9;
  color: #fff;

}

.card .image .content:hover {
  background: transparent;
  font-size: 48px;
}
