// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

strong {
  color: #155ebf;
}

// BANNER
.banner {
  background-size: cover;
  // background-position: center;
  background-position: unset;
  padding: 150px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('john-peel-at-desk.jpg') !important;
  animation: slideDown;
  animation-iteration-count: 1;
  animation-duration: 2s;
  transition-duration: 1.5s;
}


@keyframes slideDown {
  0% {
    padding-top: 0px;
  }
  50% {
    padding-top: 50px;
  }
  100% {
    padding-top: 53px;
  }
}



.banner h1 {
  margin: 0;
  color: #9b9b9b;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner h3 {
  margin: 0;
  color: #9b9b9b;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  font-size: 2em;
  margin-top: 15px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .banner {
    height: 95vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    animation: cam ease-in-out 4s;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes cam {
    0% {
      background-position-x: 0px;
    }
    100% {
      background-position-x: -1500px;
    }
  }
  .ui.container.banner .pitch {
    margin-top: 2em;
    font-size: 18px !important;
  }
  .ui.container.banner .link {
    margin-top: 4em;
    position: absolute;
    bottom: 18%;
  }
  .banner a {
    font-size: 2em;
  }
  a {
    font-size: 1.5em;
  }
  .btn-ghost {
    border: 4px solid #2351de !important;
    padding: 30px 24px !important;
  }
  .banner h1 {
    font-size: 44px !important;
  }
}

// BUTTON
.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}
.btn-ghost:hover {
  opacity: 1;
}


//BTN ANIM
.pulse {
  animation: pulse;
  animation-iteration-count: 2;
  animation-duration: 1.3s;
  opacity: 0.88;
  color: #fff;
  background: #1848db;
  text-align: center;
  width: 200px;
  margin: 0 auto;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
    border: 3px solid #4A4A4A;
  }
  50% {
    transform: scale(1.08);
  }
  75% {
    transform: scale(1.2);
    border: 5px solid #4A4A4A;
  }
  100% {
  transform: scale(1.1);
  }
}


// BUTTON MOEMA
//
/* Moema */
.button--moema {
  padding: 1.5em 3em;
  border-radius: 50px;
  background: #3049cf;
  color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  animation: fadein 6s;
}
@keyframes fadein {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 0.2;
    }
    100%  {
      opacity: 1;
    }
}
.button--moema.button--inverted {
  background: #ECEFF1;
  color: #37474f;
}
.button--moema::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  // background: inherit;
  border-radius: 50px;
  z-index: -1;
  opacity: 0.4;
  -webkit-transform: scale3d(0.8, 0.5, 1);
  transform: scale3d(0.8, 0.5, 1);
}
.button--moema:hover {
  -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  color: #ECEFF1;
  background-color: #3f51b5;
  -webkit-animation: anim-moema-1 0.3s forwards;
  animation: anim-moema-1 0.3s forwards;
}
.button--moema.button--inverted:hover {
  color: #ECEFF1;
  background-color: #7986cb;
}
.button--moema:hover::before {
  -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
  animation: anim-moema-2 0.3s 0.3s forwards;
}
@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}




// FEATURINGS SECTION
.feats {
  margin: 2em !important;
  padding-top: 2em !important;
  color: #fff !important;
}

.card .image {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
  position: relative;
}

.card .image .content {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  font-size: 44px;
  background: black;
  padding: 2em;
  opacity: 0.9;
  color: #fff;
}

.card .image .content:hover {
  background: transparent;
  font-size: 48px;
}
